header {
	color:@white;
	position:fixed;
	height:100px;
	z-index:6;
	top:0;
	left:0;
	right:0;
	.black(.9);
	@hoverEffect();
	.rSkew {
		//transform:skewX(30deg);
		left:40px;
		position:relative;
	}
	.container {
		height:inherit;
		.logo {
			padding:15px 5px;
			height:inherit;
			float:left;
			position:relative;
			display:block;
			& > img {
				max-height:100%;
			}
			span {
				position:absolute;
				transform:skew(-40deg) scale(.75);
				display:block;
				left:40px;
				top:calc(~"50% - 22px");
				
				img.core {
					&:extend(body .loader img);
					left:0;
					top:0;
					display:block;
				}
			}
		}
		aside.filter {
			position:absolute;
			right:20px;
			top:30px;
			z-index:10;
			width:320px;
			font-size:1.25em;
			transform:skew(-6deg);
			fieldset {
				margin-bottom:0;
			}
			.cusSelect div.select {
				border-radius:0;
				border:none;
				border-bottom:solid 1px @dGrey;
			}
		}
	}
	@media (max-width:@lg) {
		
	}
	@media (max-width:@sm) {
		height:60px;
		.container {
			.logo {
				padding:10px 5px;
				span {
					transform: skew(-40deg) scale(0.45);
					left: 25px;
					top:calc(~"50% - 12px");
				}
			}
			aside.filter {
				display:none;
			}
		}
	}
}

